//! **************************************************************************
// Written by: Map P.49d on Mon Mar 18 12:38:27 2013
//! **************************************************************************

SCHEMATIC START;
COMP "ADC_3_I<5>" LOCATE = SITE "F11" LEVEL 1;
COMP "ADC_3_I<6>" LOCATE = SITE "E12" LEVEL 1;
COMP "ADC_3_I<7>" LOCATE = SITE "F12" LEVEL 1;
COMP "ADC_3_I<8>" LOCATE = SITE "A13" LEVEL 1;
COMP "ADC_3_I<9>" LOCATE = SITE "B13" LEVEL 1;
COMP "VGA_HS_I" LOCATE = SITE "A16" LEVEL 1;
COMP "VGA_G_O<0>" LOCATE = SITE "N8" LEVEL 1;
COMP "VGA_G_O<1>" LOCATE = SITE "P8" LEVEL 1;
COMP "ADC_1_I<0>" LOCATE = SITE "A4" LEVEL 1;
COMP "VGA_HS_O" LOCATE = SITE "T4" LEVEL 1;
COMP "VGA_G_O<2>" LOCATE = SITE "P6" LEVEL 1;
COMP "ADC_1_I<1>" LOCATE = SITE "C3" LEVEL 1;
COMP "ADC_1_I<2>" LOCATE = SITE "C4" LEVEL 1;
COMP "ADC_1_I<3>" LOCATE = SITE "B6" LEVEL 1;
COMP "VGA_VS_I" LOCATE = SITE "M9" LEVEL 1;
COMP "ADC_1_I<4>" LOCATE = SITE "D5" LEVEL 1;
COMP "BTN_I<0>" LOCATE = SITE "B18" LEVEL 1;
COMP "ADC_1_CLK_O" LOCATE = SITE "B4" LEVEL 1;
COMP "ADC_1_I<5>" LOCATE = SITE "C5" LEVEL 1;
COMP "BTN_I<1>" LOCATE = SITE "D18" LEVEL 1;
COMP "ADC_1_I<6>" LOCATE = SITE "F7" LEVEL 1;
COMP "VGA_VS_O" LOCATE = SITE "U3" LEVEL 1;
COMP "BTN_I<2>" LOCATE = SITE "E18" LEVEL 1;
COMP "ADC_1_I<7>" LOCATE = SITE "E7" LEVEL 1;
COMP "BTN_I<3>" LOCATE = SITE "H13" LEVEL 1;
COMP "ADC_1_I<8>" LOCATE = SITE "A6" LEVEL 1;
COMP "ADC_1_I<9>" LOCATE = SITE "C7" LEVEL 1;
COMP "ADC_2_I<0>" LOCATE = SITE "D7" LEVEL 1;
COMP "ADC_2_I<1>" LOCATE = SITE "E8" LEVEL 1;
COMP "CLK_50M_I" LOCATE = SITE "B8" LEVEL 1;
COMP "ADC_2_I<2>" LOCATE = SITE "E9" LEVEL 1;
COMP "ADC_3_CLK_O" LOCATE = SITE "A11" LEVEL 1;
COMP "ADC_2_I<3>" LOCATE = SITE "C9" LEVEL 1;
COMP "VGA_B_O<0>" LOCATE = SITE "U5" LEVEL 1;
COMP "ADC_2_I<4>" LOCATE = SITE "A8" LEVEL 1;
COMP "VGA_B_O<1>" LOCATE = SITE "U4" LEVEL 1;
COMP "ADC_2_I<5>" LOCATE = SITE "G9" LEVEL 1;
COMP "ADC_2_I<6>" LOCATE = SITE "F9" LEVEL 1;
COMP "LEDS_O<0>" LOCATE = SITE "J14" LEVEL 1;
COMP "VGA_R_O<0>" LOCATE = SITE "R9" LEVEL 1;
COMP "ADC_2_I<7>" LOCATE = SITE "D10" LEVEL 1;
COMP "LEDS_O<1>" LOCATE = SITE "J15" LEVEL 1;
COMP "VGA_R_O<1>" LOCATE = SITE "T8" LEVEL 1;
COMP "ADC_2_I<8>" LOCATE = SITE "A10" LEVEL 1;
COMP "LEDS_O<2>" LOCATE = SITE "K15" LEVEL 1;
COMP "VGA_R_O<2>" LOCATE = SITE "R8" LEVEL 1;
COMP "ADC_2_I<9>" LOCATE = SITE "B10" LEVEL 1;
COMP "LEDS_O<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "ADC_3_I<0>" LOCATE = SITE "D11" LEVEL 1;
COMP "ADC_3_I<1>" LOCATE = SITE "E10" LEVEL 1;
COMP "SW_I<0>" LOCATE = SITE "G18" LEVEL 1;
COMP "ADC_3_I<2>" LOCATE = SITE "B11" LEVEL 1;
COMP "SW_I<1>" LOCATE = SITE "H18" LEVEL 1;
COMP "ADC_3_I<3>" LOCATE = SITE "C11" LEVEL 1;
COMP "SW_I<2>" LOCATE = SITE "K18" LEVEL 1;
COMP "ADC_3_I<4>" LOCATE = SITE "E11" LEVEL 1;
COMP "SW_I<3>" LOCATE = SITE "K17" LEVEL 1;
COMP "ADC_2_CLK_O" LOCATE = SITE "F8" LEVEL 1;
TIMEGRP CLK_50M_I = BEL "vga_2_o_r_0" BEL "vga_2_o_r_1" BEL "vga_2_o_r_2" BEL
        "vga_1_o_r_0" BEL "vga_1_o_r_1" BEL "vga_1_o_r_2" BEL "vga_3_o_r_0"
        BEL "vga_3_o_r_1" BEL "cnt_r_0" BEL "Mshreg_shift_r_h_sync_4/SRL16E"
        BEL "shift_r_h_sync_4" BEL "Mshreg_shift_r_v_sync_4/SRL16E" BEL
        "shift_r_v_sync_4" BEL "ADC_1_CLK_O" BEL "ADC_2_CLK_O" BEL
        "ADC_3_CLK_O" BEL "ADC_1_CLK_O_OBUF_BUFG.GCLKMUX" BEL
        "ADC_1_CLK_O_OBUF_BUFG";
TS_CLK_50M_I = PERIOD TIMEGRP "CLK_50M_I" 20 ns HIGH 50%;
SCHEMATIC END;

